<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>By: <%= @user.name %></p>
<div>
    <% if @post.comments.any? %>
        <h3>Comments</h3>
        <ul>
            <% @post.comments.each do |comment| %>
                <li>
                    <p><%= comment.content %></p>
                    <p>By: <%= comment.user.name %></p>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>No comments yet</p>
    <% end %>
</div>
<div>
  <h3>Add Comment</h3>
</div>
