<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>By: <%= @user.name %></p>

<div>
  <% if @current_user.likes?(@post) %>
    <%= button_to 'Unlike', user_post_like_path(@user, @post, @current_user.like_for(@post)), method: :delete, class: 'btn btn-secondary' %>
  <% else %>
    <%= form_with url: user_post_likes_path(@user, @post), method: :post do |form| %>
      <%= form.submit 'Like', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>

<div>
  <% if @post.comments.any? %>
    <h3>Comments</h3>
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <p><%= comment.content %></p>
          <p>By: <%= comment.user.name %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No comments yet</p>
  <% end %>
</div>

<div>
  <h3>Add Comment</h3>
  <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post), class: 'btn btn-primary' %>
</div>
