<!DOCTYPE html>
<html>
  <head>
    <title>BlogSphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">BlogSphere</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!--Link to Home-->
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <!-- log out -->
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
              </li>
            <% else %>
              <li class="nav-item">
                <!-- Login -->
                <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary' %>
              </li>
              <li class="nav-item">
                <!-- Sign Up -->
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-secondary' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
